.reveal section img.porque {
   position: absolute;
   left: 225px;
   background: rgba(255, 255, 255, 0);
}

div.rectangle {
    border:7px solid #FFF;
    position: absolute;
    display: inline-block;
    text-align: center;
}
div.rectangle * {
    padding: 5px 10px;
}

div.rectIdea {
 # left: 100px;
  top: 100px;
}
div.rectCod1 {
  left: 200px;
  top: 200px;
}
div.rectDoc1 {
  left: 200px;
  top: 300px;
}
